.sidebar {
  position: fixed;
  width: 200px;
  height: 400px;
  background: #fff;
}

.sidebar .menu {
  padding-left: 30px;
  padding-top: 60px;
}

.sidebar .menu .item {
  display: block;
  padding: 0px 10px;
  font-size: 19px;
  margin: 40px 0;
  line-height: 13px;
  border-left: 1px solid #eaeaea;
  color:  #b7bdc1;
  text-decoration: unset;
}

.sidebar .menu .item.active, .sidebar .menu .item:hover {
  color:  #000;
  border-left: 1px solid #000;
}

.content {
  margin-left: 200px;
  height: 500px;
  width: auto;
  position: relative;
  background: #f4f8fb;
  overflow: auto;
  z-index: 1;
  padding: 15px;
}
.info {
  width: 1440px;
  height: 300px;
  position: relative;
  background: #f4f8fb;
}